.navbar {
    position: relative;
}

#navlist {
   list-style: none;
   display: flex;
   padding: 0;
   margin: 0;
}

#navlist li {
  flex: auto;
  text-align: center;
  padding: 1.6em;
  font-size: 18px;
  color: white;
}

#intlist {
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
    text-align: center;
    color: red;
}

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
}

#kittydis {
  text-align: center;
}