.navbar {
    position: relative;
}

#navlist {
   list-style: none;
   display: flex;
   padding: 0;
   margin: 0;
}

#navlist li {
  flex: auto;
  text-align: center;
  padding: 1.6em;
  font-size: 18px;
  color: white;
}

h1 {
    text-align: center;
    color: red;
}

#sammy {
  text-align: center; 
}